
body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
  }
  
  .game-container {
    margin-top: 20px;
  }
  
  .game {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  
  .draggable-elements {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 20px;
  }
  
  .droppable-containers {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 20px;
  }
  
  .droppable-container {
    width: 230px;
    height: 230px;
    border: 1px dashed #4d4d4d;
  }
  
  .droppable-container.highlighted {
    border-color: #4d4d4d;
    background-color: rgba(77, 77, 77, 0.1);
  }
  
  .droppable-container img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  
  .draggable-element {
    width: 230px;
    height: 230px;
    cursor: grab;
    margin: 10px;
  }
  
  .draggable-element img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  
  .score {
    margin-bottom: 20px;
  }
  
  .end-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
  }
  
  .end-screen button {
    margin-top: 20px;
  }
  
  .progress-bar {
    width: 70%;
    height: 20px;
    background-color: #f2f2f2;
    border-radius: 10px;
    overflow: hidden;
  }
  
  .progress {
    height: 100%;
    background-color: #af6919;
    transition: width 0.3s ease-in-out;
  }
  

  

 
  
 
 